body{
    background-color: #e7e7e7;
    text-align: center;
}
.container button{
    margin: 10px;
}
button{
    padding: 1rem;
    width: 100px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
}
#result{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: tomato;
}